# Env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.replit

# OS
.DS_Store
.DS_Store?
Thumbs.db

# IDE
.idea/
.idea_modules/
.vscode/*
.vs/

# Rendered
index.html